<?py if mi_obj: ?>
<?py     if mi_obj.topicn: ?>
<div class="title">&raquo; #{title} No.#{m_obj.id}  •  #{date_item(m_obj.add)}  •  #{mi_obj.topicn}主贴 最近发表</div>
<div class="main-box home-box-list">
<?py include("ios_topic-items.html", topic_objs=mi_obj.topic_objs) ?>
</div>
<?py     #endif ?>

<?py     if mi_obj.replyn: ?>
<div class="title">&raquo; #{title} No.#{m_obj.id}  •  #{date_item(m_obj.add)}  •  #{mi_obj.replyn}回帖 最近回复</div>
<div class="main-box home-box-list">
<?py include("ios_topic-items.html", topic_objs=mi_obj.reply_objs) ?>
</div>
<?py     #endif ?>

<?py else: ?>
<div class="title">&raquo; #{title} No.#{m_obj.id}  •  加入于#{date_item(m_obj.add)})</div>
<div class="main-box">
<div class="no-topic-reply">该会员目前尚无主贴和回贴</div>
</div>

<?py #endif ?>
